In [132]:
import pandas as pd
import numpy as np
import json
import psycopg2
import sys

with open('test.json') as fh:
    file=json.load(fh)

df = pd.DataFrame(file)

conn_string = "host='localhost' dbname='postgres' user='postgres' password='whh001'"

# get a connection, if a connect cannot be made an exception will be raised here
conn = psycopg2.connect(conn_string)
 
# conn.cursor will return a cursor object, you can use this cursor to perform queries
cursor = conn.cursor()

for index, item in df.iterrows():
    account_number= item[0]
    date_of_entry = item[1]
    email=item[2]
    first_name = item[3]
    gender = item[4]
    last_name = item[5]
    user_id = item[6]

    query = "INSERT INTO dataeng_test (user_id, date_of_entry, email, first_name,gender,last_name,account_number)  VALUES (%s, %s, %s, %s, %s, %s, %s);"
    data = (account_number, date_of_entry, email, first_name,gender,last_name,user_id)
    
    cursor.execute(query,data)
conn.commit()

[{'account_number': 31480, 'user_id': 1205, 'first_name': 'Doris', 'email': 'dharvey0@163.com', 'last_name': 'Harvey', 'gender': 'Female', 'date_of_entry': '2016/06/14'}, {'account_number': 45300, 'user_id': 3581, 'first_name': 'Ralph', 'email': 'rprice1@netscape.com', 'last_name': 'Price', 'gender': 'Male', 'date_of_entry': '2016/04/29'}, {'account_number': 96839, 'user_id': 8480, 'first_name': 'Ronald', 'email': 'rmorris2@imgur.com', 'last_name': 'Morris', 'gender': 'Male', 'date_of_entry': '2016/06/04'}, {'account_number': 99468, 'user_id': 4152, 'first_name': 'Norma', 'email': 'njenkins3@trellian.com', 'last_name': 'Jenkins', 'gender': 'Female', 'date_of_entry': '2015/12/23'}, {'account_number': 98595, 'user_id': 6148, 'first_name': 'Larry', 'email': 'lfernandezj@guardian.co.uk', 'last_name': 'Fernandez', 'gender': 'Male', 'date_of_entry': '2015/10/11'}]

In [144]:
len(file)

5

In [2]:
import json
import psycopg2
import sys

with open('test.json') as fh:
    file=json.load(fh)

conn_string = "host='localhost' dbname='postgres' user='postgres' password='whh001'"
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()

for i in range(0,len(file)):
    account_number= file[i]['account_number']
    date_of_entry = file[i]['date_of_entry']
    email=file[i]['email']
    first_name = file[i]['first_name']
    gender = file[i]['gender']
    last_name = file[i]['last_name']
    user_id = file[i]['user_id']
    
    query = "INSERT INTO dataeng_test (user_id, date_of_entry, email, first_name,gender,last_name,account_number)  VALUES (%s, %s, %s, %s, %s, %s, %s);"
    data = (account_number, date_of_entry, email, first_name,gender,last_name,user_id)
    
    cursor.execute(query,data)
conn.commit()

In [170]:
my_list = ['1','2','3']
print ("-".join(my_list))

1-2-3

In [207]:
table_columns(file)

('account_number',
 'user_id',
 'first_name',
 'email',
 'last_name',
 'gender',
 'date_of_entry')

In [180]:
l_tuple = ','.join([i for i in input[0]])

TypeError: 'method' object is not subscriptable

In [139]:
cursor.execute("select * from dataeng_test;")
cursor.fetchall()

[(31480,
  'Doris',
  'last_name',
  'dharvey0@163.com',
  'Female',
  datetime.date(2016, 6, 14),
  1205),
 (31480,
  'Doris',
  'last_name',
  'dharvey0@163.com',
  'Female',
  datetime.date(2016, 6, 14),
  1205),
 (31480,
  'Doris',
  'last_name',
  'dharvey0@163.com',
  'Female',
  datetime.date(2016, 6, 14),
  1205)]

In [72]:
for index,row in df.iterrows():
   print( row[0],row[1],row[2],row[3],row[4],row[5])

31480 2016/06/14 dharvey0@163.com Doris Female Harvey
45300 2016/04/29 rprice1@netscape.com Ralph Male Price
96839 2016/06/04 rmorris2@imgur.com Ronald Male Morris
99468 2015/12/23 njenkins3@trellian.com Norma Female Jenkins
98595 2015/10/11 lfernandezj@guardian.co.uk Larry Male Fernandez

In [ ]:
import json
import psycopg2
import sys

with open('test.json') as fh:
    file=json.load(fh)

conn_string = "host='localhost' dbname='postgres' user='postgres' password='whh001'"
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()

for i in range(0,len(file)):
    account_number= file[i]['account_number']
    date_of_entry = file[i]['date_of_entry']
    email=file[i]['email']
    first_name = file[i]['first_name']
    gender = file[i]['gender']
    last_name = file[i]['last_name']
    user_id = file[i]['user_id']
    
    query = "INSERT INTO dataeng_test (user_id, date_of_entry, email, first_name,gender,last_name,account_number)  VALUES (%s, %s, %s, %s, %s, %s, %s);"
    data = (account_number, date_of_entry, email, first_name,gender,last_name,user_id)
    
    cursor.execute(query,data)
conn.commit()
class open_json(json):
    def read_json(self,filename):
        with open(filename) as fh:
            file = self.load(fh)

class